<!DOCTYPE html>
<html>
<head>
  <title>Callback</title>
</head>
<body>
  <h1>Processing login...</h1>
    <button id="protect">call api</button>
    <button id="logout">logout</button>
    <button id="seeker">seeker page</button>
    <button id="employer">employer page</button>
    <script type="module">
    import { startTokenRefreshSchedule, logout, fetchProtected } from "/static/js/keycloak.js";
    startTokenRefreshSchedule()
    document.getElementById("logout").onclick = () => {
        logout()
    }
    document.getElementById("protect").onclick = () => {
        fetchProtected()
    }
    async function seek() {
        const token = localStorage.getItem("access_token");

        const response = fetch("https://jobtinder.local/auth/seeker", {
            headers: { Authorization: `Bearer ${token}` }
        });

        return await response
    }

    async function employ() {
        const token = localStorage.getItem("access_token");

        const response = fetch("https://jobtinder.local/auth/employer", {
            headers: { Authorization: `Bearer ${token}` }
        });

        return await response
    }
    document.getElementById("seeker").onclick = () => {
        seek().then(res => res.json()).then(data => console.log(data))
    }
    document.getElementById("employer").onclick = () => {
        employ().then(res => res.json()).then(data => console.log(data))
    }
    </script>
</body>
</html>
