<!DOCTYPE html>
<html>
<head>
  <title>Callback</title>
</head>
<body>
  <h1>Processing login...</h1>
    <button id="protect">call api</button>
    <script>
        const code = new URLSearchParams(window.location.search).get("code");
        console.log("Authorization code:", code);

        const redirect_uri="http://localhost:8000/auth/callback"
        const client_id="jobtinder-app"



        async function handleCallback() {
            const params = new URLSearchParams(window.location.search);
            const code = params.get("code");
            const verifier = localStorage.getItem("pkce_verifier");

            if (!code) return;

            // Exchange code for tokens directly with Keycloak
            const response = await fetch("http://localhost:8080/realms/FastAPI/protocol/openid-connect/token", {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: new URLSearchParams({
                grant_type: "authorization_code",
                client_id: client_id,
                code: code,
                redirect_uri: redirect_uri,
                code_verifier: verifier,
                })
            });

            const tokens = await response.json();
            console.log("Got tokens:", tokens);

            // Store tokens in memory or cookie
            localStorage.setItem("access_token", tokens.access_token);
        }

        handleCallback()

        async function fetchProtected() {
            const token = localStorage.getItem("access_token");

            const response = await fetch("http://localhost:8000/protected", {
            headers: { Authorization: `Bearer ${token}` }
            });

            const data = await response.json();
            console.log("Protected data:", data);
        }

        document.getElementById("protect").onclick = () => {
            fetchProtected()
        }

    </script>
</body>
</html>
